.home-page {
  display: inline-block;
  position: relative;
  margin-top: 50px;
  overflow: hidden;
  border-right: 3px solid;
  animation: typewriter 2s steps(10) infinite alternate, blink 0.5s steps(10) infinite;

  &__welcome {
    font-size: 48px;
    font-weight: 700;
    background-image: linear-gradient(0deg, rgba(74, 74, 74, 0.4), rgba(205, 202, 241, 0.4)),
    linear-gradient(0deg, #0085bf, #828282 51.56%, #fff);
    background-clip: text;
    color: transparent;
    font-family: serif;
  }
}

@keyframes typewriter {
  0% {
    width: 0px;
  }

  100% {
    width: 240px;
  }
}

@keyframes blink {
  0% {
    border-right-color: rgba(255,255,255,.75);
    ;
  }

  100% {
    border-right-color: transparent;
  }
}
